<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" media="screen"
          href="https://abs.twimg.com/a/1423456947/css/tfw/intents_rosetta.bundle.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

</head>
<body class=" tfw tr logged-in ltr nofooter noloki">


{% if campaign.campaign_type == '0' %}
    <div id="retweet">
        {{ html_message_code|safe|escape }}
        <a href="/publisher/publisher_join_campaign_retweet_campaign/{{ campaign.id }}">Join campaign and retweet</a>
    </div>
{% elif campaign.campaign_type == '1' %}
    {% if form.errors %}
        <p>{{ form.errors }}</p>
    {% endif %}
    <form method='POST' action="/publisher/publisher_join_campaign_share_hashtag/{{ campaign.id }}">
        {% csrf_token %}
        {{ form }}
        <input id="tweet_but" type="submit" class="button selected submit" value="Tweetle">
    </form>

{% elif campaign.campaign_type == '4' %}
    <a class="twitter-timeline"
       href="https://twitter.com/{{ campaign.campaign_data }}"
       data-widget-id="565497260050763776"
       data-screen-name="{{ campaign.campaign_data }}"
       data-show-replies="false"
       data-tweet-limit="5">
        Tweets by @{{ campaign.campaign_data }}
    </a>
    <script>!function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
        if (!d.getElementById(id)) {
            js = d.createElement(s);
            js.id = id;
            js.src = p + "://platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js, fjs);
        }
    }(document, "script", "twitter-wjs");</script>
    <a href="/publisher/publisher_join_campaign_follow_campaign/{{ campaign.id }}">Join campaign and follow</a>
{% elif campaign.campaign_type == '2' %}
    {% if form.errors %}
        <p>{{ form2.errors }}</p>
    {% endif %}
    <form method='POST' action="/publisher/publisher_join_campaign_share_campaign/{{ campaign.id }}">
        {% csrf_token %}
        {{ form2 }}
        <input type="submit" value="Share">
    </form>
{% else %}
    <div id="fb-root"></div>
    <script>(function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/tr_TR/sdk.js#xfbml=1&appId=1467336330221256&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <div class="fb-like-box" data-href="https://www.facebook.com/{{ campaign.campaign_data }}" data-colorscheme="light"
         data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div>
    <a href="/publisher/publisher_join_campaign_like_campaign/{{ campaign.id }}">Control</a>
{% endif %}

</body>
<script type="application/javascript">
    $(document).ready(function () {
        $("#id_tweet").val("#{{ campaign.campaign_data }}"); //hashtag part

    });
</script>
</html>