{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block head %}{% endblock %}

{% block slider %}{% endblock %}

{% block content %}
    <div class="itemscope" itemscope="" itemtype="http://schema.org/Article">
        <section class="post post_format_standard postLeft no_margin post-330 page type-page status-publish hentry">
            <article class="post_content">
                <div class="post_text_area" itemprop="articleBody">
                    <div class="sc_section  margin_top_large sc_aligncenter" style="color:#353535;">
                        <div class="main">
                            <div class="sc_content main  sc_aligncenter text_styling"
                                 style="font-size:14px;line-height:22px;color:#979797;">
                                <a href="/advertiser/new_advertiser">Advertiser Sign up</a><br/>
                                <a href="/publisher/new_publisher">Publisher Sign up</a><br/>
                                <a href="/accounts/login">login</a><br/>
                                <a href="/accounts/logout">logout</a><br/>
                                <a href="/campaign_pool">campaigns</a><br/>
                                <a href="/publisher/publisher_social_data">social page</a><br/>
                                <br/>
                                <br/>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </div>
{% endblock %}

{% block script %}{% endblock %}