{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block head %}
    <style type="text/css">
        #input-submit {
            color: #FFF;
            display: block;
            position: relative;
            font-size: 15px;
            font-weight: 500;
            background-color: #FA6839;
            letter-spacing: 1px;
            text-transform: uppercase;
            padding: 0px 30px;
            vertical-align: middle;
            z-index: 1;
            border: medium none;
            border-radius: 31px;
            overflow: visible;
            margin: 7px 0px;
            height: 53px;
            line-height: 53px;
        }
        #input-submit:hover {
            color: #FFF;
            background-color: rgba(255, 105, 55, 0.66);
        }

    </style>
{% endblock %}

{% block slider %}{% endblock %}

{% block content %}
    <div class="content">
        <section class="post post_format_standard postLeft no_margin post-429 page type-page status-publish hentry">
            <article class="post_content">
                <div class="post_text_area" itemprop="articleBody">
                    <div class="sc_section  margin_top_large margin_bottom_big">
                        <div class="main">
                            <h2 class="sc_title_align_center sc_title sc_title_underline  color_1"
                                style="text-align:center;">Sign In</h2>

                            <div class="sc_content main  margin_bottom_middle sc_aligncenter text_styling"
                                 style="font-size:16px;line-height:28px;"> Do not miss the privilege<br />
                                Share Ads!
                            </div>
                            <div class="dark sc_contact_form sc_contact_form_contact  margin_top_middle"
                                 style="margin-right:12%;margin-left:12%;">
                                <form method='POST'>
                                    {% csrf_token %}
                                    <div class="columnsWrap">
                                        <div class="columns1_2"><label class="required"
                                                                       for="id_username">Username</label><input
                                                placeholder="Your username" id="id_username"
                                                name="username" type="text" maxlength="254"></div>
                                        <div class="columns1_2"><label class="required" for="id_password">Password</label><input
                                                placeholder="Your password" id="id_password" name="password"
                                                type="password"></div>
                                    </div>
                                    <div class="sc_contact_form_button">
                                        <div class="squareButton sc_button_style_accent_2 sc_button_size_big global big">
                                            <input type="submit" id="input-submit" value="Submit" />
                                        </div>
                                    </div>
                                    <div class="result sc_infobox">
                                        {% if form.errors %}
                                            <p>form.errors</p>
                                        {% endif %}
                                    </div>

                                    {% if next %}
                                        <input type="hidden" name="next" value="{{ next }}">
                                    {% else %}
                                        <input type="hidden" name="next" value="/">
                                    {% endif %}
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="tagsWrap">


                    </div>

                </div>
                <!-- </div> class="post_text_area" itemprop="articleBody"> -->
            </article>
            <!-- 		</article> class="post_content"> -->
        </section>
        <!-- 	</section> class="post post_format_standard postLeft no_margin post-429 page type-page status-publish hentry"> -->
        <!-- Post/page views count increment -->
        <script type="text/javascript">
            jQuery(document).ready(function () {
                jQuery.post(THEMEREX_ajax_url, {
                    action: 'post_counter',
                    nonce: THEMEREX_ajax_nonce,
                    post_id: 429,
                    views: 356
                });
            });
        </script>

    </div>
{% endblock %}

{% block script %}{% endblock %}